:root {
    --color-tan: #fff5e0;
    --color-white: #fbfbfb;
    --color-black: #291620;
    --color-dark-green: #004c23;
    --color-dark-pink: #66374e;
    --color-green: #0e7940;
    --color-pink: #dd0071;
    --color-dark-red: #810320;
    --color-dark-red: #c7153f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1024px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    margin: 1rem 0;
}
h1 {
    font-size: 2.25em;
}
h2{
    font-size: 2.00em;
}
h3{
    font-size: 1.75em;
}
h4{
    font-size: 1.50em;
}
h5{
    font-size: 1.20em;
}
h6{
    font-size: 1.00em;
}

/* Mirror color changes to hover-invert version */
.a-background-bg0, body {background-color: var(--color-white);}
.a-background-bg1 {background-color: var(--color-tan);}
.a-background-fg0 {background-color: var(--color-black);}
.a-background-fg1 {background-color: var(--color-dark-green);}
.a-background-fg2 {background-color: var(--color-pink);}
.a-background-fg3 {background-color: var(--color-red);}

.a-background-bg0.b-hover-invert {--default-bg-color: var(--color-white);}
.a-background-bg1.b-hover-invert {--default-bg-color: var(--color-tan);}
.a-background-fg0.b-hover-invert {--default-bg-color: var(--color-black);}
.a-background-fg1.b-hover-invert {--default-bg-color: var(--color-dark-green);}
.a-background-fg2.b-hover-invert {--default-bg-color: var(--color-pink);}
.a-background-fg3.b-hover-invert {--default-bg-color: var(--color-red);}

.a-color-bg0 {color: var(--color-white);}
.a-color-bg1 {color: var(--color-tan);}
.a-color-fg0, body {color: var(--color-black);}
.a-color-fg1, h1, h2, h3, h4, h5, h6 {color: var(--color-dark-green);}
.a-color-fg2 {color: var(--color-pink);}
.a-color-fg3 {color: var(--color-red);}

.a-color-bg0.b-hover-invert {--default-color: var(--color-white);}
.a-color-bg1.b-hover-invert {--default-color: var(--color-tan);}
.a-color-fg0.b-hover-invert {--default-color: var(--color-black);}
.a-color-fg1.b-hover-invert {--default-color: var(--color-dark-green);}
.a-color-fg2.b-hover-invert {--default-color: var(--color-pink);}
.a-color-fg3.b-hover-invert {--default-color: var(--color-red);}

/* On hover, switches the background and border color to the font color set by
   an a-color-... class, and the font color with the background color set in an
   a-background-... class.
*/
.b-hover-invert:hover {
    background-color: var(--default-color);
    border-color: var(--default-color);
    color: var(--default-bg-color);
}

