:root {
    --color-tan: #fff5e0;
    --color-white: #fbfbfb;
    --color-black: #291620;
    --color-dark-green: #004c23;
    --color-dark-pink: #66374e;
    --color-green: #0e7940;
    --color-pink: #dd0071;
    --color-dark-red: #810320;
    --color-dark-red: #c7153f;
    --color-lightest-pink: #ffeaf0;
    --color-light-pink: #f4cdd8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1024px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    margin: 1rem 0;
}
h1 {
    font-size: 2.25em;
}
h2{
    font-size: 2.00em;
}
h3{
    font-size: 1.75em;
}
h4{
    font-size: 1.50em;
}
h5{
    font-size: 1.20em;
}
h6{
    font-size: 1.00em;
}

/* The background (bg) and foreground (fg) colors are numbered and correspond
   to the same hue but all background colors must contrast to the primary
   foreground color bg0, while all foreground colors must contrast with the
   primary background color bg0. Each color group varies with a letter but note
   bg#a goes from brightest to darkest while fg#a is darkest to brightest.
   
   * Mirror all color modification to hover-invert version *
*/
.a-background-bg0a, body {background-color: var(--color-white);}
.a-background-bg1a {background-color: var(--color-lightest-pink);}
.a-background-bg1b {background-color: var(--color-light-pink);}
.a-background-fg0a {background-color: var(--color-black);}
.a-background-fg1a {background-color: var(--color-dark-pink);}
.a-background-fg1b {background-color: var(--color-pink);}
.a-background-fg2a {background-color: var(--color-dark-green);}
.a-background-fg2b {background-color: var(--color-green);}
.a-background-fg3a {background-color: var(--color-dark-red);}
.a-background-fg3b {background-color: var(--color-red);}

.a-background-bg0a.b-hover-invert {--default-bg-color: var(--color-white);}
.a-background-bg1a.b-hover-invert {--default-bg-color: var(--color-lightest-pink);}
.a-background-bg1b.b-hover-invert {--default-bg-color: var(--color-light-pink);}
.a-background-fg0a.b-hover-invert {--default-bg-color: var(--color-black);}
.a-background-fg1a.b-hover-invert {--default-bg-color: var(--color-dark-pink);}
.a-background-fg1b.b-hover-invert {--default-bg-color: var(--color-pink);}
.a-background-fg2a.b-hover-invert {--default-bg-color: var(--color-dark-green);}
.a-background-fg2b.b-hover-invert {--default-bg-color: var(--color-green);}
.a-background-fg3a.b-hover-invert {--default-bg-color: var(--color-dark-red);}
.a-background-fg3b.b-hover-invert {--default-bg-color: var(--color-red);}

.a-color-bg0a {color: var(--color-white);}
.a-color-bg1a {color: var(--color-lightest-pink);}
.a-color-bg1b {color: var(--color-light-pink);}
.a-color-fg0a, body {color: var(--color-black);}
.a-color-fg1a, h1, h2, h3, h4, h5, h6 {color: var(--color-dark-pink);}
.a-color-fg1b {color: var(--color-pink);}
.a-color-fg2a {color: var(--color-dark-green);}
.a-color-fg2b {color: var(--color-green);}
.a-color-fg3a {color: var(--color-dark-red);}
.a-color-fg3b {color: var(--color-red);}

.a-color-bg0a.b-hover-invert {--default-color: var(--color-white);}
.a-color-bg1a.b-hover-invert {--default-color: var(--color-lightest-pink);}
.a-color-bg1b.b-hover-invert {--default-color: var(--color-light-pink);}
.a-color-fg0a.b-hover-invert {--default-color: var(--color-black);}
.a-color-fg1a.b-hover-invert {--default-color: var(--color-dark-pink);}
.a-color-fg1b.b-hover-invert {--default-color: var(--color-pink);}
.a-color-fg2a.b-hover-invert {--default-color: var(--color-dark-green);}
.a-color-fg2b.b-hover-invert {--default-color: var(--color-green);}
.a-color-fg3a.b-hover-invert {--default-color: var(--color-dark-red);}
.a-color-fg3b.b-hover-invert {--default-color: var(--color-red);}


/* On hover, switches the background and border color to the font color set by
   an a-color-... class, and the font color with the background color set in an
   a-background-... class.
*/
.b-hover-invert:hover {
    background-color: var(--default-color);
    border-color: var(--default-color);
    color: var(--default-bg-color);
}

.b-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

