:root {
    --color-tan: #fff5e0;
    --color-black: #4c4260;
    --color-dark-green: #004c23;
    --color-dark-pink: #7D3F5F;
    --color-dark-red: #810320;
    --color-dark-red: #c7153f;
    --color-darkest-pink: #663f51;
    --color-green: #0e7940;
    --color-light-gray: #e3e2e7;
    --color-light-green: #acd3bf;
    --color-light-pink: #f8bdd7;
    --color-lightest-gray: #f1f0f4;
    --color-lightest-green: #c9e5d7;
    --color-lightest-pink: #f8d6e5;
    --color-pink: #bd3772;
    --color-white: #fbfbfb;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0 auto;
    max-width: 1024px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    margin: 1rem 0;
}

rt {
    margin-bottom: 0.125em;
}

/* The background (bg) and foreground (fg) colors are numbered and correspond
   to the same hue and subdivided into letter subgroups. Background colors bg#a
   go from lightest to dark and foreground colors fg#a from darkest to light.
   
   ! All background colors must have enough contrast against fg0a and all     !
   ! foreground colors must have enough contrast against bg0a                 !
*/
.a-background-bg0a, .a-background-hv-bg0a:hover, body {
    background-color: var(--color-white);
}
.a-background-bg0b, .a-background-hv-bg0b:hover {
    background-color: var(--color-lightest-gray);
}
.a-background-bg0c, .a-background-hv-bg0c:hover {
    background-color: var(--color-light-gray);
}
.a-background-bg1a, .a-background-hv-bg1a:hover {
    background-color: var(--color-lightest-pink);
}
.a-background-bg1b, .a-background-hv-bg1b:hover {
    background-color: var(--color-light-pink);
}
.a-background-bg2a, .a-background-hv-bg2a:hover {
    background-color: var(--color-lightest-green);
}
.a-background-bg2b, .a-background-hv-bg2b:hover {
    background-color: var(--color-light-green);
}
.a-background-fg0a, .a-background-hv-fg0a:hover {
    background-color: var(--color-black);
}
.a-background-fg1a, .a-background-hv-fg1a:hover {
    background-color: var(--color-darkest-pink);
}
.a-background-fg1b, .a-background-hv-fg1b:hover {
    background-color: var(--color-dark-pink);
}
.a-background-fg1c, .a-background-hv-fg1c:hover {
    background-color: var(--color-pink);
}
.a-background-fg2a, .a-background-hv-fg2a:hover {
    background-color: var(--color-dark-green);
}
.a-background-fg2b, .a-background-hv-fg2b:hover {
    background-color: var(--color-green);
}
.a-background-fg3a, .a-background-hv-fg3a:hover {
    background-color: var(--color-dark-red);
}
.a-background-fg3b, .a-background-hv-fg3b:hover {
    background-color: var(--color-red);
}

.a-border-bg0a, .a-border-hv-bg0a:hover {border-color: var(--color-white);}
.a-border-bg0b, .a-border-hv-bg0b:hover {border-color: var(--color-lightest-gray);}
.a-border-bg0c, .a-border-hv-bg0c:hover {border-color: var(--color-light-gray);}
.a-border-bg1a, .a-border-hv-bg1a:hover {border-color: var(--color-lightest-pink);}
.a-border-bg1b, .a-border-hv-bg1b:hover {border-color: var(--color-light-pink);}
.a-border-bg2a, .a-border-hv-bg2a:hover {border-color: var(--color-lightest-green);}
.a-border-bg2b, .a-border-hv-bg2b:hover {border-color: var(--color-light-green);}
.a-border-fg0a, .a-border-hv-fg0a:hover {border-color: var(--color-black);}
.a-border-fg1a, .a-border-hv-fg1a:hover {border-color: var(--color-darkest-pink);}
.a-border-fg1b, .a-border-hv-fg1b:hover {border-color: var(--color-dark-pink);}
.a-border-fg1c, .a-border-hv-fg1c:hover {border-color: var(--color-pink);}
.a-border-fg2a, .a-border-hv-fg2a:hover {border-color: var(--color-dark-green);}
.a-border-fg2b, .a-border-hv-fg2b:hover {border-color: var(--color-green);}
.a-border-fg3a, .a-border-hv-fg3a:hover {border-color: var(--color-dark-red);}
.a-border-fg3b, .a-border-hv-fg3b:hover {border-color: var(--color-red);}

.a-color-bg0a, .a-color-hv-bg0a:hover {
    color: var(--color-white);
}
.a-color-bg0b, .a-color-hv-bg0b:hover {
    color: var(--color-lightest-gray);
}
.a-color-bg0c, .a-color-hv-bg0c:hover {
    color: var(--color-light-gray);
}
.a-color-bg1a, .a-color-hv-bg1a:hover {
    color: var(--color-lightest-pink);
}
.a-color-bg1b, .a-color-hv-bg1b:hover {
    color: var(--color-light-pink);
}
.a-color-bg2a, .a-color-hv-bg2a:hover {
    color: var(--color-lightest-green);
}
.a-color-bg2b, .a-color-hv-bg2b:hover {
    color: var(--color-light-green);
}
.a-color-fg0a, .a-color-hv-fg0a:hover, body {
    color: var(--color-black);
}
.a-color-fg1a, .a-color-hv-fg1a:hover, h1, h2, h3, h4, h5, h6 {
    color: var(--color-darkest-pink);
}
.a-color-fg1b, .a-color-hv-fg1b:hover {
    color: var(--color-dark-pink);
}
.a-color-fg1c, .a-color-hv-fg1c:hover {
    color: var(--color-pink);
}
.a-color-fg2a, .a-color-hv-fg2a:hover {
    color: var(--color-dark-green);
}
.a-color-fg2b, .a-color-hv-fg2b:hover {
    color: var(--color-green);
}
.a-color-fg3a, .a-color-hv-fg3a:hover {
    color: var(--color-dark-red);
}
.a-color-fg3b, .a-color-hv-fg3b:hover {
    color: var(--color-red);
}

.a-font-default, h6 {font-size: 1.00rem;}
.a-font-medium1, h5 {font-size: 1.25rem;}
.a-font-medium2, h4 {font-size: 1.50rem;}
.a-font-medium3, h3 {font-size: 1.75rem;}
.a-font-medium4, h2 {font-size: 2.00rem;}
.a-font-large1,  h1 {font-size: 2.50rem;}
.a-font-large2 {font-size: 3.00rem;}
.a-font-large3 {font-size: 3.50rem;}
.a-font-large4 {font-size: 4.00rem;}


.b-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.site-nav {
}

.site-nav a {
    text-decoration: none;
    font-weight: bold;
}

.site-nav a:visited {
    color: inherit;
}

.site-nav ul {
    display: flex;
    list-style: none;
}

.site-nav li {
    padding: 16px;
}