
.kanjiQuiz-entry-answer {
}

.kanjiQuiz-entry-body {
    display: flex;
}

.kanjiQuiz-entry-choice {
    display: flex;
    flex-basis: 23%;
    margin: 1%;
}

.kanjiQuiz-entry-choices {
    align-content: start;
    display: flex; 
    flex-basis: 100%;
    flex-wrap: wrap;
    list-style: none;
}

.kanjiQuiz-entry-choiceBtn {
    border-style: none;
    flex-grow: 1;
}

.kanjiQuiz-entry-choiceBtn:active {
    transform: scale(0.9);
}

/* make them square */
.kanjiQuiz-entry-choiceBtn:before {
    content:'';
    float:left;
    padding-top:100%;
}

.kanjiQuiz-entry-choiceBtn:disabled {
    pointer-events: none;
}

.kanjiQuiz-entry-choiceBtn[data-answer="true"] {
    background-color: var(--color-light-green);
}

.kanjiQuiz-entry-choiceBtn[data-answer="false"]:not([data-correct]) {
    color: transparent;
}

.kanjiQuiz-entry-choiceBtn[data-answer="false"][data-correct="false"] {
    background-color: var(--color-light-pink);
}

.kanjiQuiz-entry-container {
    border-width: 1px;
    border-bottom-style: solid;
}

.kanjiQuiz-entry-container:last-child {
    border-bottom-style: none;
}

.kanjiQuiz-entry-definition {
    margin: 4px;
}

.kanjiQuiz-entry-incorrect {
    border: solid 2px;
    border-radius: 50%;
    font-size: inherit;
    min-width: 100px;
    min-height: 100px;
}

.kanjiQuiz-entry-incorrect:active {
    transform: scale(0.9);
}

.kanjiQuiz-entry-result {
}

.kanjiQuiz-entry-ui {
    flex-basis: 50%;
    padding: 2%;
}

.kanjiQuiz-entry-wordData {
    border-right-style: solid;
    border-width: 1px;
    flex-basis: 50%;
    flex-direction: column;
}

.kanjiQuiz-quiz-body {
}

.kanjiQuiz-quiz-container {
    margin: 0 auto;
    max-width: 720px;
}

.kanjiQuiz-quiz-entries {
    border-style: solid;
    border-bottom-style: none;
    border-width: 2px;
    list-style: none;
}

.kanjiQuiz-quiz-intro {
}

.kanjiQuiz-quiz-word {
    border-style: solid solid none none;
    border-width: 1px;
    flex: 1 1 50%;
    flex-direction: column;
    padding: 2%;
}

.kanjiQuiz-quiz-word:last-child, .kanjiQuiz-quiz-word:nth-child(2n) {
    border-right-style: none;
}

.kanjiQuiz-quiz-wordsBody {
    border-style: none solid none solid;
    border-width: 2px;
    display: flex;
    flex-wrap: wrap;
}

.kanjiQuiz-entry-wordBox, .kanjiQuiz-quiz-wordText {
    margin: 4px;
    min-width: 6em;
}

.kanjiQuiz-quiz-wordDef {
    margin: 4px;
}

.kanjiQuiz-quiz-wordText {
    text-align: center;
}

.kanjiQuiz-solution-input {
    color: var(--color-light-gray);
}

.kanjiQuiz-solution-input::before {
    content: "\25fc";
}

.kanjiQuiz-solution-marked {
    font-weight: normal;
    text-decoration: underline 0.125em var(--color-pink);
}

.kanjiQuiz-solution-reading {
    font-size: 0.5em;
    font-weight: normal;
    margin: 0 0.15em;
}

.kanjiQuiz-updateSlider-container {
    border-style: solid;
    border-bottom-style: none;
    border-width: 2px;
    flex-direction: column;
    padding: 1%;
}

.kanjiQuiz-updateSlider-slider {
    accent-color: currentcolor;
    width: 50%;
}

.quiz-control-button {
    border-style: none;
    display: block;
    width: 100%;
    padding: 4px;
    position: relative;
    ruby-position: under;
    transition-duration: 0.30s;
    transition-property: background-color, color;
}

.quiz-control-button::after {
    content: "\279c";
    position: absolute;
    opacity: 0;
    left: calc(50% + 0.75em);
    transition: opacity 0.20s;
}

.quiz-control-button:hover::after {
    opacity: 1;
}
