
.kanjiQuiz-entry-answer rt, .kanjiQuiz-quiz-wordText rt, .kanjiQuiz-solution-reading {
    font-size: 0.4em;
    ruby-align: center; /* firefox only */
}

.kanjiQuiz-entry-answerBtn {
    border-radius: 2rem;
    border-style: none;
    font-weight: bold;
    margin-top: 1.75rem;
    min-height: 2rem;
    min-width: 2rem;
}

.kanjiQuiz-entry-body {
    display: flex;
    justify-content: center;
    padding: 6.25%;
}

.kanjiQuiz-entry-choice {
    /* lined up together so visually it's 2x the border-width */
    border: 1px solid transparent;
    display: flex;
    flex-basis: 25%;
}

.kanjiQuiz-entry-choices {
    align-content: start;
    display: flex; 
    flex-basis: 100%;
    flex-wrap: wrap;
    list-style: none;
}

.kanjiQuiz-entry-choiceBtn {
    border-style: none;
    flex-grow: 1;
}

.kanjiQuiz-entry-choiceBtn:active {
    transform: scale(0.9);
}

/* make them square */
.kanjiQuiz-entry-choiceBtn:before {
    content:'';
    float:left;
    padding-top:100%;
}

.kanjiQuiz-entry-choiceBtn:disabled {
    pointer-events: none;
}

.kanjiQuiz-entry-choiceBtn[data-answer="true"] {
    background-color: var(--color-light-green);
}

.kanjiQuiz-entry-choiceBtn[data-answer="false"]:not([data-correct]) {
    color: transparent;
}

.kanjiQuiz-entry-choiceBtn[data-answer="false"][data-correct="false"] {
    background-color: var(--color-lightest-pink);
}

.kanjiQuiz-entry-definition {
}

.kanjiQuiz-entry-root:nth-child(n+2) {
    border-top-style: solid;
    border-width: 2px;
}

.kanjiQuiz-entry-root-correct .kanjiQuiz-entry-answerBtn {
    display: none;
}

.kanjiQuiz-entry-root-correct .kanjiQuiz-entry-choiceBtn {
    background-color: var(--color-lightest-green);
}

/* This border needs to be in the same element as the gray border otherwise
   it will throw the alignment of the gray borders off */
.kanjiQuiz-entry-root-highlight .kanjiQuiz-entry-wordData {
    border-left: 16px solid var(--color-pink);
}
    
.kanjiQuiz-entry-ui {
    flex-basis: 36.875%;
    margin-left: 3.125%;
}

.kanjiQuiz-entry-wordBox {
    margin-bottom: 1rem;
}

.kanjiQuiz-entry-wordData {
    flex-basis: 60%;
    flex-direction: column;
}

.kanjiQuiz-entry-wordData, .kanjiQuiz-quiz-word {
    padding: 2rem;
}

.kanjiQuiz-quiz-accBody {
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0.625rem 0;
}

.kanjiQuiz-quiz-accBox {
    display: flex;
    margin-bottom: 6.25%;
}

.kanjiQuiz-quiz-accBox:before, .kanjiQuiz-quiz-accMoreBtn {
    content: "";
    flex-basis: 3.125%;
    min-width: 16px;
}

.kanjiQuiz-quiz-accBox:not(.kanjiQuiz-quiz-accBox-more)
.kanjiQuiz-quiz-accEntry:nth-child(n+11){
    display: none;
}

.kanjiQuiz-quiz-accEntry {
    flex-direction: column;
    margin: 0.5rem;
}

.kanjiQuiz-quiz-accMoreBtn {
    border: none;
    font-weight: bold;
    opacity: 0%;
    transition: opacity 0.25s ease-in;
}

.kanjiQuiz-quiz-accMoreBtn:before {content: "+";}
.kanjiQuiz-quiz-accBox-more .kanjiQuiz-quiz-accMoreBtn:before {content: "-";}

.kanjiQuiz-quiz-accMoreBtn:disabled {
    visibility: hidden;
}

.kanjiQuiz-quiz-accMoreBtn:hover, .kanjiQuiz-quiz-accMoreBtn:focus,
.kanjiQuiz-quiz-accBox:hover .kanjiQuiz-quiz-accMoreBtn {
    opacity: 100%;
}

/* This is setup so kanjiQuiz-quiz-accVal-bar's percentage bar colors
   can be set in settings.js and as a result, prevents the configuration
   of the text percentage display through settings. */
.kanjiQuiz-quiz-accVal:not(.kanjiQuiz-quiz-accVal-bar) {
    color: inherit;
    background-color: inherit;
}

.kanjiQuiz-quiz-accVal.kanjiQuiz-quiz-accVal-bar {
    font-size: 0%;
    height: 0.5rem;
    user-select: none;
    width: 3rem;
}

.kanjiQuiz-quiz-accVal.kanjiQuiz-quiz-accVal-bar::before {
    background-color: currentcolor;
    content: "";
    display: block;
    height: 100%;
    width: var(--accuracy);
}

.kanjiQuiz-quiz-accVal-none {
    background-color: transparent;
    border-style: dashed;
    border-width: 0.125rem;
}

.kanjiQuiz-quiz-body {
}

.kanjiQuiz-quiz-entries {
    border-style: solid;
    border-width: 8px;
    list-style: none;
}

.kanjiQuiz-quiz-intro {
}

.kanjiQuiz-quiz-root {
    margin: 64px auto;
    max-width: 800px;
}

.kanjiQuiz-quiz-word {
    border-style: solid solid solid none;
    border-width: 2px;
    flex: 1 1 46.875%; /* 50% - half left margin */
    position: relative;
}

.kanjiQuiz-quiz-word:nth-child(even) {
    margin-left: 6.25%;
}

.kanjiQuiz-quiz-word:nth-child(n+3) {
    margin-top: 6.25%;
}

.kanjiQuiz-quiz-word::before {
    background-color: var(--color-lightest-pink);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
}

.kanjiQuiz-quiz-wordsBody {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3.125%;
}

.kanjiQuiz-quiz-wordDef {
}

.kanjiQuiz-quiz-wordText {
    margin-bottom: 0.75rem;
}

.kanjiQuiz-solution-input {
    color: var(--color-light-gray);
}

.kanjiQuiz-solution-input::before {
    content: "\25fc";
}

.kanjiQuiz-solution-marked {
    font-weight: normal;
    text-decoration: underline 0.125em var(--color-pink);
}

.kanjiQuiz-solution-reading {
    font-size: 0.5em;
    font-weight: normal;
}

.kanjiQuiz-updateSlider-root {
    flex-direction: column;
    padding: 1%;
}

.kanjiQuiz-updateSlider-display {
    display: flex;
    display: none;
    flex-wrap: wrap;
    margin: 1%;
    min-width: 32px; /* hard to see if smaller */
    width: 6.25%;
}

.kanjiQuiz-updateSlider-displayItem {
    display: flex;
    flex-basis: 18.75%;
    margin: 3.125%;
}

.kanjiQuiz-updateSlider-displayItem:before {
    content: '';
    padding-top: 100%;
}

.kanjiQuiz-updateSlider-slider {
    accent-color: currentcolor;
    width: 37.5%;
}

.quiz-control-button {
    border-style: none;
    display: block;
    margin: 6.25% auto;
    min-width: 4em;
    padding: 0.375rem;
    position: relative;
    ruby-position: under;
    transition-duration: 0.30s;
    transition-property: background-color, color;
    width: 100%;
}

.quiz-control-button::after {
    content: "\279c";
    position: absolute;
    opacity: 0;
    left: calc(50% + 0.75em);
    transition: opacity 0.20s;
}

.quiz-control-button:hover::after {
    opacity: 1;
}

.quiz-control-button rt {
    margin: 0.125em 0 0 0;
}