
.kanjiQuiz-entry-answer rt, .kanjiQuiz-quiz-wordText rt, .kanjiQuiz-solution-reading {
    font-size: 0.4em;
    ruby-align: center; /* firefox only */
}

.kanjiQuiz-entry-answerBtn {
    border-radius: 16em;
    border-style: none;
    font-weight: bold;
    margin-top: 1.75rem;
    min-height: 2.5em;
    min-width: fit-content;
    padding: 0.5em;
    width: 2.5em;
}

.kanjiQuiz-entry-body {
    display: flex;
    justify-content: center;
}

.kanjiQuiz-entry-choice {
    display: flex;
    outline: 2px solid var(--color-white);
    /* Bleeds outside of the grid, alternatively use sets of box shadows if
       it does not cause performance issues */
}

.kanjiQuiz-entry-choices {
    align-content: start;
    display: grid;
    flex-basis: 100%;
    gap: 2px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    list-style: none;
}

.kanjiQuiz-entry-choiceBtn {
    border-style: none;
    flex-grow: 1;
}

.kanjiQuiz-entry-choiceBtn:active {
    transform: scale(0.9);
}

/* make them square */
.kanjiQuiz-entry-choiceBtn:before {
    content:'';
    float:left;
    padding-top:100%;
}

.kanjiQuiz-entry-choiceBtn:disabled {
    pointer-events: none;
}

.kanjiQuiz-entry-choiceBtn[data-answer="true"] {
    background-color: var(--color-light-green);
}

.kanjiQuiz-entry-choiceBtn[data-answer="false"]:not([data-correct]) {
    color: transparent;
}

.kanjiQuiz-entry-choiceBtn[data-answer="false"][data-correct="false"] {
    background-color: var(--color-lightest-pink);
}

.kanjiQuiz-entry-definition {
}

.kanjiQuiz-entry-root {
    margin-bottom: 6.25%;
}

.kanjiQuiz-entry-root-correct .kanjiQuiz-entry-answerBtn {
    display: none;
}

.kanjiQuiz-entry-root-correct .kanjiQuiz-entry-choiceBtn {
    background-color: var(--color-lightest-green);
}

/* This border needs to be in the same element as the gray border otherwise
   it will throw the alignment of the gray borders off */
.kanjiQuiz-entry-root-highlight .kanjiQuiz-entry-wordData {
    border-left: 8px solid var(--color-pink);
}
    
.kanjiQuiz-entry-ui {
    flex-basis: 36.875%;
    margin-left: 6.25%;
}

.kanjiQuiz-entry-wordBox {
    margin-bottom: 1rem;
}

.kanjiQuiz-entry-wordData {
    border-style: solid none;
    border-width: 2px;
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    justify-content: center;
}

.kanjiQuiz-entry-wordData, .kanjiQuiz-quiz-word {
    padding: 32px;
}

.kanjiQuiz-quiz-accBody {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 8px 0;
}

.kanjiQuiz-quiz-accBox {
    border-top-style: solid;
    border-width: 2px;
    display: flex;
    padding: 1.5625% 0;
}

.kanjiQuiz-quiz-accBox:before, .kanjiQuiz-quiz-accMoreBtn {
    content: "";
    flex-basis: 3.125%;
    min-width: 16px;
}

.kanjiQuiz-quiz-accBox:not(.kanjiQuiz-quiz-accBox-more)
.kanjiQuiz-quiz-accEntry:nth-child(n+11){
    display: none;
}

.kanjiQuiz-quiz-accBox + .quiz-control-button {
    margin-top: 0;
}

.kanjiQuiz-quiz-accEntry {
    flex-direction: column;
    margin: 0.5rem;
}

.kanjiQuiz-quiz-accMoreBtn {
    border: none;
    font-weight: bold;
    opacity: 0%;
    transition: opacity 0.25s ease-in;
}

.kanjiQuiz-quiz-accMoreBtn:before {content: "+";}
.kanjiQuiz-quiz-accBox-more .kanjiQuiz-quiz-accMoreBtn:before {content: "-";}

.kanjiQuiz-quiz-accMoreBtn:disabled {
    visibility: hidden;
}

.kanjiQuiz-quiz-accMoreBtn:hover, .kanjiQuiz-quiz-accMoreBtn:focus,
.kanjiQuiz-quiz-accBox:hover .kanjiQuiz-quiz-accMoreBtn {
    opacity: 100%;
}

/* This is setup so kanjiQuiz-quiz-accVal-bar's percentage bar colors
   can be set in settings.js and as a result, prevents the configuration
   of the text percentage display through settings. */
.kanjiQuiz-quiz-accVal:not(.kanjiQuiz-quiz-accVal-bar) {
    color: inherit;
    background-color: inherit;
}

.kanjiQuiz-quiz-accVal-bar {
    border-style: solid;
    border-width: 1px;
    font-size: 0%;
    height: 0.3125rem;
    user-select: none;
    width: 2.75rem;
}

.kanjiQuiz-quiz-accVal-bar::before {
    background-color: currentcolor;
    content: "";
    display: block;
    height: 100%;
    width: var(--accuracy);
}

.kanjiQuiz-quiz-accVal-none {
    background-color: var(--color-light-gray);
    border-style: none;
}

.kanjiQuiz-quiz-body {
}

.kanjiQuiz-quiz-entries {
    list-style: none;
}

.kanjiQuiz-quiz-intro {
}

.kanjiQuiz-quiz-root {
    margin: 64px auto;
}

.kanjiQuiz-quiz-word {
    border-top-style: solid;
    border-width: 2px;
    flex: 1 1 46.875%; /* 50% - half left margin */
}

.kanjiQuiz-quiz-word:nth-child(even) {
    margin-left: 6.25%;
}

.kanjiQuiz-quiz-word:nth-child(n+3) {
    margin-top: 6.25%;
}

.kanjiQuiz-quiz-wordsBody {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3.125%;
}

.kanjiQuiz-quiz-wordDef {
}

.kanjiQuiz-quiz-wordText {
    border-bottom-style: solid;
    border-width: 4px;
    margin-bottom: 1.5rem;
    width: fit-content;
}

.kanjiQuiz-solution-input {
}

.kanjiQuiz-solution-input-unset::before {
    color: var(--color-light-pink);
    content: "\3007";
}

.kanjiQuiz-solution-marked {
    font-weight: normal;
    text-decoration: underline 0.125em var(--color-pink);
}

.kanjiQuiz-solution-reading {
    font-size: 0.5em;
    font-weight: normal;
}

.kanjiQuiz-updateSlider-root {
    margin: 3.125% 0;
    padding: 0 32px;
    width: 46.875%;
}

.kanjiQuiz-updateSlider-display {
    display: flex;
    display: none;
    flex-wrap: wrap;
    margin: 1%;
    min-width: 32px; /* hard to see if smaller */
    width: 6.25%;
}

.kanjiQuiz-updateSlider-displayItem {
    display: flex;
    flex-basis: 18.75%;
    margin: 3.125%;
}

.kanjiQuiz-updateSlider-displayItem:before {
    content: '';
    padding-top: 100%;
}

.kanjiQuiz-updateSlider-slider {
    accent-color: currentcolor;
    opacity: 25%;
    width: 100%;
}

.kanjiQuiz-updateSlider-slider:active, .kanjiQuiz-updateSlider-slider:focus,
.kanjiQuiz-updateSlider-slider:hover {
    opacity: 100%;
}

.quiz-control-button {
    border-style: none;
    display: block;
    margin: 6.25% auto;
    min-width: 4em;
    padding: 6px;
    position: relative;
    ruby-position: under;
    transition-duration: 0.30s;
    transition-property: background-color, color;
    width: 100%;
}

.quiz-control-button::after {
    content: "\279c";
    position: absolute;
    opacity: 0;
    left: calc(50% + 0.75em);
    transition: opacity 0.20s;
}

.quiz-control-button:hover::after {
    opacity: 1;
}

.quiz-control-button rt {
    margin: 0.125em 0 0 0;
}